<h3>
    Activities
</h3>
<controller iv-type="default" iv-name="ActivityController" iv-init="initSearch();">
    <form iv-type="default" iv-name="form" iv-title="Search">
        <field:date iv-type="default" iv-name="fromDate" iv-label="From Date" iv-max-date="now" iv-default-date="now" />
        <field:date iv-type="default" iv-name="toDate" iv-label="To Date" iv-max-date="now" iv-default-date="now" />
        <form:actionpanel iv-type="default">
            <button id="search" name="search" class="btn btn-primary btn-labeled mr btn-lg" ng-click="search()">
                <span class=" btn-label">
                    <i class="fa fa-check"></i>
                </span>
                Search
            </button>
        </form:actionpanel>
    </form>
    <panel iv-type="default">
        <panel:header iv-type="default">
            <panel:header:title iv-type="default">
                Activities
            </panel:header:title>
        </panel:header>
        <panel:content iv-type="default">
            <div class="list-group">
                <div class="row row-table list-group-item" ng-repeat="item in activities">
                    <div class="col-sm-1">
                        <img http-src="{{item.user.picture.guid}}" alt="Image" class="media-box-object img-thumbnail img-circle thumb48 center-block" />
                    </div>
                    <div class="col-sm-1">
                        <p class="mb-sm text-primary">
                            <a class="text-muted" ui-sref="app.projectview({id: item.projectId})">
                                {{item.projectCodeName}} - {{item.projectTitle}}
                            </a>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <p class="mb-sm text-primary">
                            <a class="text-muted" ui-sref="app.taskview({id: item.taskId})">
                                {{item.taskTitle}}
                            </a>
                        </p>
                    </div>
                    <div class="col-sm-7">
                        <p class="mb-sm text">
                            {{item.description}}
                        </p>
                        <p class="text-sm">
                            <small>On {{item.activityDateTime | date:'yyyy/MM/dd'}} By {{item.user.email}} </small>
                        </p>
                    </div>
                    <div class="col-sm-1">
                        <em class="fa fa-clock-o" tooltip="Duration"> {{item.duration}}</em>
                    </div>
                </div>
            </div>
        </panel:content>
        <panel:footer iv-type="default">
            Total Count: {{searchResult.totalCount}}, Total Minutes: {{searchResult.totalMinutes}}, Total Hour: {{searchResult.totalHour  | number:1}}
        </panel:footer>
    </panel>
</controller>
