<h3>
    Projects
    <nav iv-type="default" iv-icon="fa-plus-circle" iv-label="Add" iv-state="app.projectadd"></nav>
    <div ng-controller="ClientFiltering" class="btn-group pull-right mr" ng-init="init({status : '1'})">
        <label class="btn btn-default btn-sm" ng-disabled="true">
            <i class="fa-filter fa text-muted"></i>
        </label>
        <label class="btn btn-default btn-sm" ng-model="model.status" btn-radio="'null'">All</label>
        <label class="btn btn-info btn-sm" ng-model="model.status" btn-radio="'1'">In Progress</label>
        <label class="btn btn-success btn-sm" ng-model="model.status" btn-radio="'2'">Completed</label>
    </div>

    <!--<div class="btn-group pull-right mr" ng-init="init({status : '1'})">
        <label class="btn btn-default btn-sm" ng-disabled="true">
            <i class="icon-layers  text-muted"></i>
        </label>
        <label class="btn btn-default btn-sm" ng-model="model.status" btn-radio="'null'">
            <em class="icon-list"></em>
        </label>
        <label class="btn btn-default btn-sm" ng-model="model.status" btn-radio="'1'">
            <em class="icon-grid"></em>
        </label>
    </div>-->

</h3>
<controller iv-type="default" iv-name="ProjectController" iv-init="initProjectsView();">
    <div ng-repeat="project in projects | filter:filterQuery">
        <include iv-source="~/iview/project/_projectwidget.html" />
    </div>
    <div ng-if="(projects | filter:filterQuery).length == 0 ">
        <div class="well dirrtl text-center">
            <strong>No result to show.</strong><span> Remove filtering or improve your search term.</span>
        </div>
    </div>
</controller>