<row iv-type="default">
    <div class="col-sm-12">
        <input type="text" smart-input-direction class="form-control" id="description" name="description" placeholder="Write your activity..." ng-model="activity.description" ng-trim="false" />
        <div class="h-spacer"></div>
    </div>
</row>
<row iv-type="default">
    <div class="col-sm-12">
        <div class="input-group" ng-controller="DateController">

            <input 
                   placeholder="Date"
                   type="text"
                   name="createDate"
                   datepicker-popup="{{format}}"
                   ng-model="activity.activityDateTime"
                   is-open="opened"
                   min-date="{{minDate}}"
                   max-date="{{maxDate}}"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)"
                   close-text="Close"
                   clear-text="Clear"
                   datepicker-append-to-body="true"
                   class="form-control"
                   datepicker-mode="'day'"
                   show-weeks="true"
                   current-text="Today" />

            <span class="input-group-btn">
                <button type="button" ng-click="open($event)" class="btn btn-default">
                    <em class="fa fa-calendar"></em>
                </button>
            </span>
        </div>
        <div class="h-spacer"></div>
    </div>
</row>
<row iv-type="default">
    <div class="col-sm-12">
        <input type="number" class="form-control" id="duration" name="duration" placeholder="Duration" ng-model="activity.duration" />
        <div class="h-spacer"></div>
    </div>
</row>
<row iv-type="default">
    <div class="col-sm-12">
        <button id="add" name="add" class="btn btn-block btn-primary btn-lg" ng-click="addActivityInMyBoard(task.taskId); ">
            Add
        </button>
    </div>
</row>