 <div ng-init="initView(task.taskId)">
    <ul class="timeline-alt" ng-repeat="item in activities | unique:'activityDate' | orderBy:'activityDate': true">
        <li data-datetime="{{item.activityDate | date:'yyyy/MM/dd'}}" class="timeline-separator"></li>
        <li ng-repeat="activity in activities | filter: {activityDate: item.activityDate} | unique:'user.userId'">
            <div class="timeline-badge primary">
                <img http-src="{{activity.user.picture.guid}}" alt="Image" class="media-box-object img-circle thumb32 center-block" />
            </div>
            <div class="timeline-panel">
                <div ng-class="timelineAlt ? 'right' : 'left'" class="popover">
                    <h4 class="popover-title">{{activity.user.displayName}}</h4>
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <div ng-repeat="act in activities | filter: {activityDate: item.activityDate, user: activity.user }">
                            <small>{{act.description}} ({{act.duration}}m)</small>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>