<ul role="menu" class="dropdown-menu">
    <li>
        <a ui-sref="app.taskview({id: task.taskId})">View Detail</a>
    </li>
    <li>
        <a ui-sref="app.activity({taskId: task.taskId})">Add Activity</a>
    </li>
    <li class="divider"></li>
    <li>
        <a ui-sref="app.taskupdate({id: task.taskId})">Edit</a>
    </li>
    <li class="divider"></li>
    <li ng-repeat="statusItem in taskStatuses | orderBy:'viewOrder'">
        <a ng-click="updatePortletOrder(task.taskId,statusItem.id)" ng-hide="status.id == statusItem.id || (task.activityCount > 0 && statusItem.id == 1)">Move To {{statusItem.title}}</a>
    </li>
</ul>