<ul role="menu" class="dropdown-menu">
    <li>
        <a ui-sref="app.taskview({id: task.taskId})">View Detail</a>
    </li>
    <li>
        <a ui-sref="app.activity({taskId: task.taskId})">Add Activity</a>
    </li>
    <li class="divider"></li>
    <li>
        <a ui-sref="app.taskupdate({id: task.taskId})">Edit</a>
    </li>
    <li class="divider"></li>
    <li>
        <a ng-click="upodatePortletOrder(task.taskId,1)" ng-hide="{{status.id == 1}}">Move To pending</a>
    </li>
    <li>
        <a ng-click="upodatePortletOrder(task.taskId,2)" ng-hide="{{status.id == 2}}">Move To In Progress</a>
    </li>
    <li>
        <a ng-click="upodatePortletOrder(task.taskId,3)" ng-hide="{{status.id == 3}}">Move To Ready For Test</a>
    <li>
        <a ng-click="upodatePortletOrder(task.taskId,4)" ng-hide="{{status.id == 4}}">Move To Done</a>
    </li>
    </li>
</ul>