<!DOCTYPE html>
<html lang="en" data-ng-app="iWork">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <title data-ng-bind="::pageTitle()">iWork - Manage your daily works!</title>
    <!-- Bootstrap styles-->
    <link rel="stylesheet" href="app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
    <!-- Application styles-->
    <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="app/css/theme-g.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
    <link href="vendor/angular-ui-select/dist/select.css" rel="stylesheet" />
    <link rel="stylesheet" href="app/css/iwork.css">

    <link rel="stylesheet" href="app/lib/angular-hotkeys/hotkeys.min.css" >
    <!-- Themes-->
    <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
    <link rel="shortcut icon" href="favicon.png">
</head>
<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}">
    <div data-ui-view="" data-autoscroll="false" class="wrapper">
    </div>
    <!-- Resource -->
    <script src="app/js/base.js"></script>
    <script src="app/js/app.js"></script>


    <!-- iWork Resource -->

    <script src="app/lib/highchart/highcharts.js"></script>
    <script src="app/lib/highcharts-ng-master/highcharts-ng.min.js"></script>

    <script src="app/lib/angular-hotkeys/hotkeys.min.js"></script>
    <script src="vendor/angular-ui-select/dist/select.js"></script>
    <!-- iWork App -->
    <script src="app/js/iwork.js"></script>
    <script src="app/js/iwork.auth.js"></script>
    <script src="app/js/iwork.route.js"></script>
    <script src="app/js/filter.js"></script>
    <!-- Modules-->
    <script src="app/js/modules/notify.js"></script>
    <!-- Directives -->
    <script src="app/js/directives/all.default.js"></script>
    <script src="app/js/directives/focus-me.directive.js"></script>
    <script src="app/js/directives/window-navigator.directive.js"></script>
    <script src="app/js/directives/dhx-gantt.directive.js"></script>
    <script src="app/js/directives/file-download-iconic-list.directive.js"></script>
    <script src="app/js/directives/file-download-list.directive.js"></script>
    <script src="app/js/directives/file-style.directive.js"></script>
    <script src="app/js/directives/gantt-column-add.directive.js"></script>
    <script src="app/js/directives/gantt-column.directive.js"></script>
    <script src="app/js/directives/gantt-template.directive.js"></script>
    <script src="app/js/directives/http-src.directive.js"></script>
    <script src="app/js/directives/loading.directive.js"></script>
    <script src="app/js/directives/multiple-file-uploader.directive.js"></script>
    <script src="app/js/directives/panel-collapse.directive.js"></script>
    <script src="app/js/directives/panel-tool.directive.js"></script>
    <script src="app/js/directives/props-filter.directive.js"></script>
    <script src="app/js/directives/score-radio-button-group.directive.js"></script>
    <script src="app/js/directives/search-notifier.directive.js"></script>
    <script src="app/js/directives/single-file-uploader.directive.js"></script>
    <script src="app/js/directives/smart-input-direction.directive.js"></script>
    <script src="app/js/directives/style-picker.directive.js"></script>
    <script src="app/js/directives/toggle-fullscreen.directive.js"></script>
    <script src="app/js/directives/filtering-notifire.directive.js"></script>
    <!-- Services -->
    <script src="app/js/services/filtering.service.js"></script>
    <script src="app/js/services/publicsearchdata.service.js"></script>
    <script src="app/js/services/data.service.js"></script>
    <script src="app/js/services/client-filtering.service.js"></script>
    <!-- Controllers -->
    <script src="app/js/controllers/client-filtering.ctrl.js"></script>
    <script src="app/js/controllers/userstory.ctrl.js"></script>
    <script src="app/js/controllers/activity.ctrl.js"></script>
    <script src="app/js/controllers/calendar.ctrl.js"></script>
    <script src="app/js/controllers/date.ctrl.js"></script>
    <script src="app/js/controllers/datetime.ctrl.js"></script>
    <script src="app/js/controllers/filtering.ctrl.js"></script>
    <script src="app/js/controllers/grid.ctrl.js"></script>
    <script src="app/js/controllers/project.ctrl.js"></script>
    <script src="app/js/controllers/public-search.ctrl.js"></script>
    <script src="app/js/controllers/repeater.ctrl.js"></script>
    <script src="app/js/controllers/sortable.ctrl.js"></script>
    <script src="app/js/controllers/sprint.ctrl.js"></script>
    <script src="app/js/controllers/task.ctrl.js"></script>
    <script src="app/js/controllers/user.ctrl.js"></script>
</body>
</html>